.card {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  padding: 50px 30px;
  border-radius: 32px;
  box-shadow:  0 4px 16px rgba(0, 0, 0, 0.16);
  min-width: calc((100% / 3) - 200px);

  &__image{
    width: 100px;
    height: 100px;
  }

  &__title{
    font-size: 24px;
    font-weight: 600;
  }

  &__description {
    font-size: 16px;
    color:#7E7E7E;
  }

}